* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2f2e41;

  height: 100vh;
  line-height: 28px;
  
}

#page {
  max-width: 1083px;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;

  align-items: center;
  padding-top: 71px;
  
}

ul {
  list-style: none;
  display: flex;
  gap: 64px;

  font-family: "JetBrains Mono", monospace;
  color: #fff;
}

h1,
a {
  font-family: "JetBrains Mono", monospace;
  color: #fff;

  text-decoration: none;
}

a:hover {
    font-weight: bold;
    color: #00BFA6;
}


h1{
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  margin-bottom: 60px;
}

main {
  margin: 107px auto 0px;
  width: 1092px;

  display: flex;
  text-align: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 80px;
}

section span {
  color: #00bfa6;
}

section p {
  font-family: "Open Sans", sans-serif;
  color: #c2c2c2;
}

footer {
  font-family: "JetBrains Mono", monospace;
  color: #fff;

  text-align: center;
}

footer p{
  margin: 27px auto 23px;
}

.line{
    margin: 155px auto 0;
    height: 0px;
    width: 568px;
    border: 1px solid #00BFA6;
}

#padlock {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
